.img-div{
    width: 80%;
    height: 80%;
    
   
}
.pp{
    display:flex;
    justify-content: flex-end;

}
.img-div  img{
    object-fit: contain;
    height: 90%;
    width: 90%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    
}
.top-row{
    min-height: 500px;
    
}
.border-div{
    border-bottom: 2px solid whitesmoke;
    min-height: 100px;
    align-items: baseline;
}
.border-div button{
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 5px;
    min-width: 130px;
    color: white;
    background-color: black;
}