.prod-div{
    border-radius: 10px;
   
}
.prod-div img{
    object-fit: contain;
}
.prod-div  h5{
    color: white;
    font-size: x-large;
    text-transform: uppercase;
}
.btn-div button{
    min-width: 170px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: bolder;
   
}

.prod-list{
  
    align-items: center;
    box-shadow: -8px 0px 16px 4px rgba(237,212,212,1);
-webkit-box-shadow: -8px 0px 16px 4px rgba(237,212,212,1);
-moz-box-shadow: -8px 0px 16px 4px rgba(237,212,212,1);
}

.brand{
    max-width: 300px;
}

/* Small screen styling */

@media screen and (max-width :500px) {
    .catalog-desc{
        display: none;
        background-color: black;
    }
}